* {
   padding: 0;
   margin: 0;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box; 
}
.bg{
    width: 100%;
    
}
.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
#question {
    width: 100%;
}
.btn {
    background-color: aliceblue;
    color: rgb(3, 3, 3);
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #222;
    color: aliceblue;
}
#next-btn {
    background-color: rgb(81, 2, 82);
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
